header {

    text-align: center;

    &>h1,
    &>p,
    &>button {
        margin-bottom: 1.5rem;
    }

    &>h1 {
        font-size: $fontSizeTitle;
        font-weight: bold;
    }

    &>p {
        font-size: 1.5rem;
    }

    &>button {
        border-radius: 30rem;
        background-color: black;
        color: aliceblue;
        padding: 0.7rem;
        cursor: pointer;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
}

