main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //flex-wrap: wrap;


    .person,
    .person--add{
        width: 17rem;
        height: 20rem;

    }

    .persons {
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .person--add {
        border: 1px dashed $textColor;
        color: $textColor;
        background-color: white;
        margin: 1rem;
        cursor: pointer;
    }

    .person {
        box-shadow: 0 0 50px #ccc;
        margin: 1rem;
        position: relative;

        &__image,
        &__info {
            width: 100%;
        }

        &__image-container{
            position: relative;
        }
        &__image {
            filter: grayscale(100%);
            // BUG
            //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);

                z-index: 1;
            }
        }

        &__info {
            padding: 1rem 1rem;
            position: absolute;
            top: 50%;
            height: 50%;
            z-index: 1;
            background-color: white;

            &-fullname,
            &-age,
            &-address,
            &-mail {
                margin-bottom: 0.8rem;
            }

            &-age,
            &-address,
            &-mail {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                &>.icon {
                    margin-right: 0.5rem;
                }
            }

            &-fullname {
                font-weight: bold;
                font-size: $fontSizeSubTitle;
            }
        }
    }
}

